/* navbar */
/* Special */
#special {
    background-image: url("images/bluepizza.jpg");
    background-color: grey;
    background-size: contain;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
  }
  #special h2 {
    font-family: "Lobster", cursive;
    text-decoration: underline;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
    font-size: 2.5rem;
  }
  .special {
    text-align: center;
    height: 50vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: "Courgette", cursive;
  }
  .special button {
    width: 85px;
    height: 40px;
    outline: none;
    border: none;
    padding: 3px;
    margin: 5px;
    background-color: hsl(200, 100%, 70%);
    border-radius: 10px;
    cursor: pointer;
  }
  /* .btn{
    width: 85px;
    height: 40px;
    outline: none;
    border: none;
    padding: 3px;
    margin: 5px;
    background-color: hsl(200, 100%, 70%);
    border-radius: 10px;
    cursor: pointer;
  } */
  .special button:hover {
    box-shadow: 0 0px 5px 6px lightgrey;
  }
  .flipcard {
    display: inline-block;
    float: left;
    width: 300px;
    height: 290px;
    position: relative;
    margin-left: 50px;
  }
  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card:hover {
    transform: rotateY(180deg);
  }
  .front {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-color: white; */
  }
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: white;
  }
  
  .flipcard2 {
    display: inline-block;
    float: right;
    width: 300px;
    height: 290px;
    position: relative;
    margin-right: 50px;
  }
  .card2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 3s ease;
  }
  .card2:hover {
    transform: rotateY(180deg);
  }
  .front2 {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    /* background-color: white; */
  }
  .back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: white;
  }
  /* Pizza List */
  #pizza-List {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin: auto;
  }
  .pizzali div {
    margin-right: 10px;
  }
  .pizzali {
    font-family: 'Ubuntu Mono', monospace;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: aqua; */
  }
  .pizzali button{
    width: 85px;
    height: 40px;
    outline: none;
    border: none;
    padding: 3px;
    margin: 5px;
    background-color: hsl(200, 100%, 70%);
    border-radius: 10px;
    cursor: pointer;
  }
  .btn:hover{
    background-color: blue;
}
  